<script setup>
import { useStore } from "../store/main.js";

const store = useStore();

const { count } = store;
</script>

<template>
  <p class="text-3xl">This Landing page !!!</p>

  {{ count }}
</template>

<style lang="scss"></style>
