<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
</script>

<template>
  <router-link exact-active-class="active" to="/">Landing</router-link>
  <router-view />
</template>

<style scoped></style>
